.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.TableOfContents {
  background-color: aquamarine;
  width: 200px;
  text-align: center;
}

.Header {
  text-align: center;
  width: 100%;
  background-color: rgb(252, 122, 122);
}

.Home {
  margin: 0 20px 0 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  background-color: blanchedalmond;
}
